<div class="w-layout-blockcontainer container w-container"><div class="row u-vgap-40"><div class="col col-lg-4 col-md-6 col-sm-12"><div><h1 li-object="collection.title">{{ collection.title }}</h1></div></div><div class="col col-lg-8 col-md-6 col-sm-12"><div>{% paginate collection.products by 40 %}
    <div li-paginate:by="40" li-paginate="collection.products" class="u-vflex-left-top u-vgap-16" by="40"><select id="sort-by" li-for:inside="option in collection.sort_options">
        {% for option in collection.sort_options %}                            
                            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% elsif option.value == collection.default_sort_by %}selected{% endif %}>{{ option.name }}</option>
                            
                    {% endfor %}    </select>
<div class="u-vflex-stretch-top u-vgap-40 u-w-100"><div class="row">{% for product in collection.products %}    <div li-for="product in collection.products" class="col col-lg-6">
                                    
                            {% render 'product_item' %}

                            
                        </div>
{% endfor %}</div>{% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    <ul role="list" class="pagination_list w-list-unstyled">{% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="w-inline-block"><div>Back</div></a>    </li>
{% endif %}{% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="w-inline-block"><div>Back disabled</div></a>    </li>
{% endif %}{% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block"><div li-object="part.title" class="text-style-link">{{ part.title }}</div></a>    </div>
{% endif %}
                            
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    <div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div>    </div>
{% endif %}
                            
                        </li>
{% endfor %}{% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="w-inline-block"><div>Pagination Disabled</div></a>    </li>
{% endif %}{% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="w-inline-block"><div>Next</div></a>    </li>
{% endif %}</ul>    </nav>
{% endif %}{% if collection.products == blank %}    <div li-if="collection.products == blank">
    <div>Nothing here.</div><div>There are no results that match this criteria. Try changing your filters.</div>    </div>
{% endif %}</div></div>{% endpaginate %}
</div></div></div></div><div class="u-lg-hide w-embed w-script"><script>//sortierung
  Shopify.queryParams = {};
  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }
  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script></div> {% schema %} {"tag":"section","name":"Collection Products","class":"section","presets":[{"name":"Collection Products","category":"Liquify","blocks":[]}],"enabled_on":{"templates":["collection"]}} {% endschema %}