<div class="w-layout-blockcontainer container w-container"><div class="row"><div class="col col-lg-3 col-sm-6 col-xs-12"><div class="u-vflex-left-top u-vgap-16"><h2>Collections</h2><ul li-for:inside="link in linklists['footer-collections'].links" role="list" class="w-list-unstyled">
        {% for link in linklists['footer-collections'].links %}                            
                            <li><a li-object="link.title" li-object:href="link.url" href="{{ link.url }}">{{ link.title }}</a></li>
                            
                    {% endfor %}    </ul>
</div></div><div class="col col-lg-3 col-sm-6 col-xs-12"><div class="u-vflex-left-top u-vgap-16"><h2>Company</h2><ul li-for:inside="link in linklists['footer-company'].links" role="list" class="w-list-unstyled">
        {% for link in linklists['footer-company'].links %}                            
                            <li><a li-object="link.title" li-object:href="link.url" href="{{ link.url }}">{{ link.title }}</a></li>
                            
                    {% endfor %}    </ul>
</div></div><div class="col col-lg-3 col-sm-6 col-xs-12"><div class="u-vflex-left-top u-vgap-16"><h2>More</h2><ul li-for:inside="link in linklists['footer-more'].links" role="list" class="w-list-unstyled">
        {% for link in linklists['footer-more'].links %}                            
                            <li><a li-object="link.title" li-object:href="link.url" href="{{ link.url }}">{{ link.title }}</a></li>
                            
                    {% endfor %}    </ul>
</div></div><div class="col col-lg-3 col-sm-6 col-xs-12"><div class="u-vflex-left-top u-vgap-16"><h2>Social</h2><ul li-for:inside="link in linklists['footer-social'].links" role="list" class="w-list-unstyled">
        {% for link in linklists['footer-social'].links %}                            
                            <li><a li-object="link.title" li-object:href="link.url" href="{{ link.url }}">{{ link.title }}</a></li>
                            
                    {% endfor %}    </ul>
</div></div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"footer section","settings":[{"type":"header","content":"Navigation"},{"type":"link_list","id":"menu","label":"Footer Menu","default":"footer"}],"presets":[{"name":"footer","category":"Liquify","blocks":[]}],"enabled_on":{"groups":["*"]}} {% endschema %}