<div li-render="custom-wrapper" class="w-layout-blockcontainer container w-container"><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="row u-vgap-40" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div class="col col-lg-1 u-md-hide"></div><div class="col col-lg-4 col-md-6 col-sm-12 col-sm-last"><div li-content-for-theme-blocks="" class="u-vflex-stretch-top u-vgap-64">
{% content_for 'blocks' %}
</div>
</div><div class="col col-lg-1 u-md-hide"></div><div class="col col-lg-6 col-sm-12"><div class="swiper"><div li-for:inside="media in product.media" class="swiper-wrapper">
        {% for media in product.media %}                            
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide">
    <img src="{{ media | image_url: width: 1280 }}" loading="lazy" li-object:src="media | image_url: width: 1280" li-object:alt="media.alt" alt="{{ media.alt }}" class="u-aspect-product">
    </div>
{% endif %}
                            
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide">
    <div class="u-aspect-product"><div li-object="media | video_tag: autoplay: true, loop: true, muted: true, controls: false" class="u-h-100 u-w-100">{{ media | video_tag: autoplay: true, loop: true, muted: true, controls: false }}</div></div>    </div>
{% endif %}
                            
                    {% endfor %}    </div>
</div></div></div></div> {% schema %} {"tag":"section","name":"Product Hero","class":"section","blocks":[{"type":"product-name"},{"type":"description"},{"type":"add-to-cart"},{"type":"productmetafieldscustomchart-image"},{"type":"@app"}],"presets":[{"name":"Product Hero","category":"Liquify","blocks":[{"type":"product-name"},{"type":"description"},{"type":"add-to-cart"},{"type":"productmetafieldscustomchart-image"}]}],"enabled_on":{"templates":["product"]}} {% endschema %}