<div class="w-layout-blockcontainer container w-container"><div class="row"><div class="col col-lg-6 col-sm-12"><h2>
{{ section.settings.text_headline }}
</h2>
</div><div class="col col-lg-6 col-sm-12"><div li-for:inside="article in blog.articles limit: 2" class="blog_list">
        {% for article in blog.articles limit: 2 %}                            
                            {% if article.title != currentArticle %}    <div li-if="article.title != currentArticle" class="blog_list-item">
    <a li-object:href="article.url" href="{{ article.url }}" class="blog_item-link u-d-flex cc-vertical cc-gap-16 w-inline-block"><img class="u-aspect-3x4" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" li-object:src="article.image | img_url: 'master'" loading="lazy" li-object:alt="article.image.alt" srcset="{{ 'visualelectric-2-p-500.jpeg' | asset_url }} 500w, {{ 'visualelectric-2-p-800.jpeg' | asset_url }} 800w, {{ 'visualelectric-2.jpeg' | asset_url }} 1024w">
<h3 li-object="article.title" class="detail">{{ article.title }}</h3></a>    </div>
{% endif %}
                            
                            {% if article.title != currentArticle %}    <div li-if="article.title != currentArticle" class="blog_list-item">
    <a li-object:href="article.url" href="{{ article.url }}" class="blog_item-link u-d-flex cc-vertical cc-gap-16 w-inline-block"><img class="u-aspect-3x4" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" li-object:src="article.image | img_url: 'master'" loading="lazy" li-object:alt="article.image.alt" srcset="{{ 'visualelectric-2-p-500.jpeg' | asset_url }} 500w, {{ 'visualelectric-2-p-800.jpeg' | asset_url }} 800w, {{ 'visualelectric-2.jpeg' | asset_url }} 1024w">
<h3 li-object="article.title" class="detail">{{ article.title }}</h3></a>    </div>
{% endif %}
                            
                    {% endfor %}    </div>
</div></div></div> {% schema %} {"tag":"section","name":"Related Articles","class":"section","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"More Reading"}],"presets":[{"name":"Related Articles","category":"Liquify","blocks":[]}]} {% endschema %}